body{
  font-family: Helvetica;
    font-size: 10px;
    color: white;
    background-color: black;
}


/*company*/
.container{
    display: inline;
  	align-items: center;
  	margin-left: 0;
}

/*main content*/

main content{

}

/*main banner*/
.image-content{

}

.text-block{

}

/*navigation bar*/

.navigation-bar{

}
nav{

}

/*product grid*/


/*location*/


/*hours*/


/*footer*/
